
#createAdmin {
    display: none;
}

#createPhysician{
    display: none;
}

#accountTypeMobile{
    display: none;
}

#accountType-CreateBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 820px) {
    #accountType {
        display: none;
    }
    .account-type-drop-down{
        width: 60% !important;
    }
    #accountTypeMobile{
        display: block;
    }
}


@media (max-width: 570px) {
    #accountType {
        display: none;
    }
    .account-type-drop-down{
        width: 100% !important;
    }
    #accountTypeMobile{
        display: block;
    }
    #accountType-CreateBtns{
        display: flex;
        flex-direction: column;
    }
}

