
#createAdmin {
    display: none;
}

#createPhysician{
    display: none;
}

@media (max-width: 750px) {
    .account-type-drop-down {
        width: 50% !important;
    }
}

@media (max-width: 470px) {
    .account-type-drop-down {
        width: 40% !important;
    }
}