/* *********************** COMMON STYLING FOR ADMIN/PROVIDER DASHBOARD ************************ */
:root,
:root.light {
    --primary-color: rgb(0, 190, 232);
    --patient-color: green;
    --family-color: rgb(186, 186, 99);
    --business-color: rgb(215, 116, 116);
    --concierge-color: rgb(129, 129, 206);
    --vip-color: purple;
    --mobile-list-color: rgba(36, 178, 245, 0.463);
    --listing-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    --listing-bg-color: #fff;
}
:root.dark {
    --listing-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
    --listing-bg-color: #282828;
}

.case {
    width: 250px;
    height: 70px;
    border-radius: 10px;
    color: #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: none !important;
}

.case-new {
    position: relative;
    border: 1px solid rgb(150, 155, 182);
    color: rgb(7, 7, 96);
    background-color: rgb(203, 211, 255);
}

.case-new::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.case-new.active::after,
.case-new:hover::after {
    border-top: 20px solid rgb(32, 60, 153);
    opacity: 1;
}

.case-new:hover,
.case-new.active {
    border: 1px solid rgb(7, 7, 96);
    color: white;
    background-color: rgb(32, 60, 153);
}

.case-pending {
    position: relative;
    border: 1px solid rgb(137, 163, 175);
    color: rgb(16, 182, 233);
    background-color: rgb(228, 241, 247);
}

.case-pending::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.case-pending.active::after,
.case-pending:hover::after {
    border-top: 20px solid rgb(0, 172, 240);
    opacity: 1;
}

.case-pending:hover,
.case-pending.active {
    background-color: rgb(0, 172, 240);
    color: white;
}

.case-active {
    position: relative;
    border: 1px solid rgba(94, 179, 94, 0.507);
    color: rgb(22, 68, 24);
    background-color: rgba(153, 235, 153, 0.507);
}

.case-active::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.case-active.active::after,
.case-active:hover::after {
    border-top: 20px solid rgb(34, 140, 32);
    opacity: 1;
}

.case-active:hover,
.case-active.active {
    color: white;
    background-color: rgb(34, 140, 32);
}

.case-conclude {
    position: relative;
    border: 1px solid rgba(177, 76, 189, 0.509);
    color: rgb(105, 2, 59);
    background-color: rgba(212, 128, 221, 0.509);
}

.case-conclude::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.case-conclude.active::after,
.case-conclude:hover::after {
    border-top: 20px solid rgb(217, 15, 129);
    opacity: 1;
}

.case-conclude:hover,
.case-conclude.active {
    color: white;
    background-color: rgb(217, 15, 129);
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    padding: 0;
    margin: 8px 16px;
    border: none;
}

.input-group {
    width: 300px;
    margin: 15px;
}

.active-filter {
    border: 1px solid grey !important;
    border-radius: 5px;
    padding: 4px 12px;
}

.case-type {
    color: rgb(87, 87, 185);
}

.green {
    color: var(--patient-color);
}

.yellow {
    color: var(--family-color);
}

.red {
    color: var(--business-color);
}

.blue {
    color: var(--concierge-color);
}

.purple {
    color: var(--vip-color);
}

.main {
    margin: 20px 50px;
}

.heading-section {
    margin-bottom: 36px;
}

.listing {
    background-color: var(--listing-bg-color);
    box-shadow: var(--listing-shadow);
}

.table {
    margin: 0;
}
.mobile-column {
    padding: 0 !important;
}

.listing-mobile-container {
    margin: 5px;
    border: 1px solid #fff;
    padding: 5px 35px;
    border-radius: 5px;
    max-width: fit-content;
    text-wrap: nowrap;
}

/******************************* Encounter - Active listing Page **************************************/
.encounter {
    display: none;
    width: 500px;
}

.houseCallBtn:hover {
    background-color: rgba(0, 190, 232, 0.647);
}

.houseCallSelected {
    display: block !important;
}
.consultCallSelected {
    display: block !important;
}

.encounter-save-btn {
    display: none;
}

/* *********************** TABLE DATA ************************************ */
.table-btn {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 4px 12px;
    border-radius: 5px;
}

tr > td {
    padding: 16px !important;
    color: #fff !important;
}
td {
    vertical-align: middle;
}
.type-1 td {
    background-color: var(--patient-color) !important;
}

.type-2 td {
    background-color: var(--family-color) !important;
}

.type-3 td {
    background-color: var(--concierge-color) !important;
}

.type-4 td {
    background-color: var(--business-color) !important;
}

.mobile-listing {
    display: none;
}

.page > nav {
    margin: 10px 20px !important;
}

/* ********************** ACTION MENU *********************** */
.action-container {
    position: relative;
}

.action-menu {
    display: flex;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: -90px;
    padding: 10px 0;
    z-index: 999 !important;
}

.table-responsive {
    min-height: 300px;
}

.action-menu > button {
    width: 180px !important;
    border: none;
    background-color: #fff;
    padding: 5px 0;
    text-align: left;
}

.action-menu > a {
    display: block;
    width: 180px !important;
    border: none;
    background-color: #fff;
    color: black;
    padding: 5px 0;
    text-align: left;
}

.action-menu > button:hover,
.action-menu > a:hover {
    background-color: rgba(128, 128, 128);
}

/* Active Listing Encounter Pop-Up */

/* When house call is selected these dropdown select menu will be shown */
.time-dropdown {
    display: none;
}

.housecall-btn:hover,
.consult-btn:hover {
    background-color: var(--blue);
    color: #fff;
}

.btn-active {
    background-color: var(--blue);
    color: #fff;
}

/* Pending Listing send agreement */
.send-agreement {
    display: none;
}

/* View Case Styling */
.request-type-1 {
    background-color: rgb(96, 189, 96) !important;
    border-radius: 45px;
    color: #fff;
    padding: 8px 12px;
}

.request-type-2 {
    background-color: var(--family-color) !important;
    border-radius: 45px;
    color: #fff;
    padding: 8px 12px;
}

.request-type-3 {
    background-color: var(--concierge-color) !important;
    border-radius: 45px;
    color: #fff;
    padding: 8px 12px;
}

.request-type-4 {
    background-color: var(--business-color) !important;
    border-radius: 45px;
    color: #fff;
    padding: 8px 12px;
}

.confirmationNumber {
    color: var(--blue);
}
/* ******* VIEW CASE ******* */
.edit-case-btn,
.save-case-btn {
    height: 50px !important;
    width: 120px !important;
}
.save-case-btn {
    display: none;
}
/******************************* All Pop-ups Styling**************************************/
/******************************* Encounter - Active listing Page **************************************/
.encounter {
    display: none;
    width: 500px;
}

/******************************* Transfer Request Provider - Pending listing Page **************************************/
.transfer-request {
    display: none;
    width: 500px;
}

.transfer-request .form-floating {
    width: 100%;
}

.transfer-description {
    height: 150px !important;
}

/******************************* Send Link PopUp - All listing Pages **************************************/
.send-link {
    display: none;
    width: 500px;
}

.send-link .form-floating {
    width: 100%;
    margin: 15px 0;
}

/******************************* Encounter Form Finalized PopUp - conclude listing Pages **************************************/
.encounter-finalized {
    display: none;
    width: 500px;
}

.encounter-finalized-container {
    padding: 15px;
}

.download-btn {
    margin: 15px auto;
}

/******************************* Assign Case ViewCase - Admin **************************************/
.assign-case {
    display: none;
}

/******************************* Request To Admin PopUp - providerProfile **************************************/
.request-to-admin {
    display: none;
    width: 500px;
    z-index: 20;
}

.request-to-admin .form-floating {
    width: 100%;
}

.request-message {
    height: 150px !important;
}

/******************************* Request DTY PopUp - AdminListingPages **************************************/

.request-support {
    display: none;
    width: 500px;
    /* z-index: 20; */
}

/* ******************************* CSS of ActionMenu button of Regions filter blade file ****************************** */

.actions-menubar {
    display: flex;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: -70px;
    padding: 10px 0;
    z-index: 999;
}

.actions-menubar > button {
    width: 200px !important;
    border: none;
    background-color: #fff;
    padding: 5px 0;
    text-align: left;
}

.actions-menubar > a {
    display: block;
    width: 200px !important;
    border: none;
    background-color: #fff;
    color: black;
    padding: 5px 0;
    text-align: left;
}

.actions-menubar > button:hover,
.actions-menubar > a:hover {
    background-color: rgba(128, 128, 128);
}

.search-section {
    margin: 0 15px;
}

/* ********************** MEDIA QUERIES *********************** */
@media (max-width: 1160px) {
    .search-section {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }

    .input-group {
        width: 100% !important;
        flex-wrap: nowrap;
    }

    .case {
        width: 200px;
    }
}

@media (max-width: 960px) {
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .case {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .case-new::after {
        display: none;
    }

    .case-pending::after {
        display: none;
    }

    .case-active::after {
        display: none;
    }

    .case-conclude:after {
        display: none;
    }

    .btn-all {
        display: none;
    }

    .src-category {
        display: flex;
        gap: 8px !important;
        justify-content: start !important;
    }

    .src-category > a {
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    .txt {
        display: none;
    }

    .main {
        margin: 0;
    }

    .listing {
        padding: 10px;
    }

    .case {
        align-items: center !important;
        justify-content: center !important;
        padding: 0 !important;
        border-radius: 0;
    }

    .src-category > button {
        font-size: 12px;
        padding: 5px;
    }

    .primary-btn {
        padding: 4px 10px;
    }

    nav {
        padding: 0;
        margin: 0;
    }

    .heading-section {
        margin-bottom: 18px;
        margin-top: 18px;
    }

    .table {
        display: none;
    }

    .listing {
        margin: 0 10px;
        padding: 0;
    }

    .d-sm-none {
        display: none !important;
    }

    .d-none {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto !important;
    }

    .mobile-listing {
        display: block;
    }

    .mobile-list {
        background-color: var(--mobile-list-color);
        border-top: 0.5px solid grey;
        border-bottom: 0.5px solid grey;
        padding: 10px 5px;
        padding-bottom: 20px;
    }

    .map-btn {
        background: none;
        border: 1px solid #3c9eff;
        color: #3c9eff;
        border-radius: 15px;
        font-size: 12px;
    }

    .more-info {
        display: none;
    }

    .more-info.active {
        display: block;
        background-color: var(--mobile-list-color);
        padding: 15px;
        position: relative;
    }

    .grid-2-listing {
        margin: 15px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .conclude-care-btn {
        border: none;
        background-color: red;
        color: #fff;
        padding: 5px 0;
        border-radius: 25px;
    }

    .accept-btn {
        border: none;
        text-align: center;
        background-color: rgb(158, 57, 188);
        color: #fff;
        padding: 5px 0;
        border-radius: 25px;
    }

    .agreement-btn {
        border: none;
        background-color: rgb(238, 218, 38);
        color: #fff;
        padding: 5px 0;
        border-radius: 25px;
    }

    .more-info-btn {
        background: none;
        border: 1px solid #3c9eff;
        color: #3c9eff;
        border-radius: 5px;
        /* font-size: 12px; */
    }

    .secondary-btn {
        border: none;
        background-color: green;
        color: #fff;
        padding: 5px 0;
        border-radius: 25px;
    }

    .secondary-btn-1 {
        border: none;
        background-color: rgb(7, 57, 17);
        color: #fff;
        padding: 5px 0;
        border-radius: 25px;
    }

    .secondary-btn-2 {
        border: none;
        background-color: rgb(238, 218, 38);
        color: #fff;
        padding: 5px 0;
        border-radius: 25px;
    }

    .secondary-btn-4 {
        border: none;
        background-color: rgb(238, 0, 0);
        color: #fff;
        padding: 5px 0;
        border-radius: 25px;
    }

    .secondary-btn-3 {
        border: none;
        background-color: rgb(42, 223, 244);
        color: #fff;
        padding: 5px 0;
        border-radius: 25px;
    }

    .secondary-btn-5 {
        border: none;
        background-color: rgb(115, 0, 223);
        color: #fff;
        padding: 5px 0;
        border-radius: 25px;
    }

    .view-btn {
        position: absolute;
        right: 20px;
        top: -14px;
        background-color: rgba(255, 255, 255);
        border: 1px solid #8044c4;
        color: #8044c4;
        border-radius: 15px;
        padding: 2px 8px;
        font-size: 12px;
        /* font-size: 12px; */
    }
}

@media (max-width: 550px) {
    .admin-btn button,
    .admin-btn a {
        padding: 2px 6px !important;
    }
    .admin-btn > button > i,
    .admin-btn > a > i {
        font-size: 14px;
    }
    .heading-section:first-child h3 {
        font-size: 16px !important;
        margin-bottom: 0;
    }
    .heading-section:first-child strong {
        font-size: 12px;
    }
    .admin-btn {
        gap: 5px !important;
    }
    .case-type {
        padding: 0 !important;
    }
    .mobile-list p,
    .mobile-list span {
        font-size: 12px;
    }
    .address-section {
        width: 200px;
    }

    .more-info span {
        font-size: 14px;
    }
    .grid-2-listing a,
    .grid-2-listing button {
        font-size: 12px;
    }

    /* .grid-2-listing .bi::before{
        border: 1px solid var(--blue) !important;
        padding: 3px;
        border-radius: 50%;
    } */

    .map-btn {
        text-wrap: nowrap;
    }

    .heading-section div:nth-child(2) button > i,
    .heading-section div:nth-child(2) a > i {
        font-size: 14px;
    }
    .heading-section div:nth-child(2) button,
    .heading-section div:nth-child(2) a {
        padding: 2px 6px !important;
    }
    .heading-section div:nth-child(2) button {
        margin-right: 5px !important;
    }

    /* View Case Styling */
    .back-btn {
        font-size: 14px;
        /* padding: 4px 10px; */
    }
    .title-container h1 {
        font-size: 18px;
    }
    .title-container p {
        font-size: 12px;
        padding: 4px 10px;
    }
    h3 {
        font-size: 18px;
    }
}
