:root,
:root.light {
    --blue: rgb(0, 190, 232);
    --red: red;
    --color-bg: #ffffff;
    --color-fg: #121212;
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --toggle-primary-fg-color: rgb(0, 190, 232);
    /* --toggle-primary-bg-color: ; */
    --section-bg-color: #fff;
}

:root.dark {
    --blue: rgb(0, 190, 232);
    --color-bg: #121212;
    --color-fg: #ffffff;
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(255, 255, 255, 0.842) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.63) 0px 0px 0px 1px inset;
    --bs-box-shadow: 0 0.5rem 1rem rgba(170, 170, 170, 0.419);
    --toggle-primary-fg-color: #fff;
    /* --toggle-primary-bg-color: ; */
    --section-bg-color: #3f3f3f;
    --label-text-color: #000;
}

html,
body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1;
}

a {
    text-decoration: none;
}

label {
    color: var(--label-text-color);
}

.toggle-mode {
    background-color: var(--color-bg) !important;
    color: var(--toggle-primary-fg-color) !important;
    border-color: var(--toggle-primary-fg-color) !important;
}

/* Pagination Text color Changes */
.text-muted {
    color: var(--color-fg) !important;
}

/* *********************** HEADER ************************ */
.header,
.navbar-section {
    z-index: 50;
    background-color: var(--color-bg);
    color: var(--color-fg) !important;
}
.navbar-section a,
.navbar-section button {
    color: var(--color-fg);
}

.logo {
    width: 50%;
}

.mobile-message {
    display: none;
    color: #000;
}

nav a {
    display: inline-block;
    padding: 10px 15px;
    color: #343434;
}

nav > a:hover {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

nav {
    margin-bottom: 42px;
}

.record-navigation {
    display: inline-block;
}

.record-btn {
    padding: 10px 15px;
    color: #343434;
    background: none;
    border: none;
}
.records-menu {
    background-color: var(--color-bg);
}

.records-menu a:hover {
    background-color: rgb(95, 223, 255);
    color: var(--blue) !important;
}

.record-btn:hover {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.active-link {
    color: var(--blue) !important;
    border-bottom: 2px solid var(--blue);
}

.menu-icon {
    display: none;
}

.logout-btn {
    display: none;
}

/* *********************** FOOTER ************************ */
.footer {
    background-color: #343434;
    bottom: 0 !important;
    color: white;
    width: 100%;
    text-align: end;
}

.footer div {
    padding: 20px;
}

/* Styling for ALERT AND SUCCESS Messages/Pop-ups */
.popup-message {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

/* ****************** Telephone library styling ***************************** */
.iti--inline-dropdown .iti__dropdown-content {
    z-index: 20 !important;
}

#telephone {
    width: 100% !important;
    height: 100% !important;
}

.iti {
    height: 100% !important;
    width: 100% !important;
}

#iti-0__country-listbox {
    z-index: 20 !important;
}

/* ****************** COMMON STYLING **************************************** */
.primary-empty {
    border: 1px solid var(--blue);
    background-color: var(--color-bg);
    padding: 8px 12px;
    color: var(--toggle-primary-fg-color);
    border-radius: 8px;
}

.primary-fill {
    border: none;
    background-color: var(--blue);
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
}

.primary-red {
    border: none;
    background-color: var(--red);
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
}

/* ****************** ALL FORM COMMON STYLING **************************************** */
.form-container {
    margin-top: 20px;
}

.section {
    background-color: var(--section-bg-color);
    border-radius: 8px;
    padding: 18px;
    margin-bottom: 24px;
    box-shadow: var(--box-shadow);
}

form > h3 {
    margin-bottom: 24px;
}

.section #floatingTextarea2 {
    height: 150px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 25px 0;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 25px 0;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 16px;
}

/******************************* COMMON STYLING FOR POP-UPs **************************************/
.pop-up {
    width: 500px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 998;
    display: none;
}

.pop-up .form-floating {
    width: 100%;
    margin: 20px 0;
}

.pop-up #floatingTextarea2 {
    height: 150px;
}

.popup-heading-section {
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue);
}

.popup-heading-section span {
    color: #fff;
}

.popup-heading-section button {
    color: #fff;
    background: none;
    border: none;
}

/* ********************************MEDIA QUERIES************************************* */
@media (max-width: 550px) {
    p {
        margin-bottom: 8px !important;
    }
    .navbar-section {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-right: 10px;
    }

    .logout-link {
        display: none;
    }
    .logout-link {
        display: none;
    }

    .logout-btn {
        display: block;
    }

    .welcome-msg {
        display: none;
    }
    .mobile-nav {
        position: absolute;
        top: 50px;
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 999;
        gap: 5px !important;
        border-left: 1px solid #dee2e6; /* add a border to separate it from the header */
    }
    .navbar-section a,
    .navbar-section button {
        font-size: 14px;
    }
    .active-link {
        background-color: rgb(79, 198, 225);
        border-bottom: none !important;
    }
    .mobile-message {
        color: var(--color-fg);
        display: block;
    }

    header {
        height: 50px !important;
    }
    .blur-active {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20 !important;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
    }

    .stop-scrolling {
        overflow: hidden;
        height: 100%;
    }

    .pop-up {
        width: 80vw !important;
        max-height: 100vh !important;
    }
    .footer {
        font-size: 12px;
    }
    .confirmationNumber {
        font-size: 16px;
    }

    .popup-message {
        font-size: 12px !important;
        top: 70px !important;
        width: 100% !important;
        right: 0;
    }
    .button-section button,
    .button-section input,
    .button-section a {
        font-size: 12px !important;
        padding: 4px 10px !important;
    }

    .grid-2 {
        grid-template-columns: 1fr !important;
    }

    .grid-3 {
        grid-template-columns: 1fr !important;
    }

    .grid-4 {
        grid-template-columns: 1fr !important;
    }
    .logo {
        width: 30%;
    }
}
