:root,
:root.light {
    --blue: #3c9eff;
}

:root.dark {
    --color-bg: #263238;
    --color-fg: #ffffff;
    --blue: #3c9eff;
}

a {
    text-decoration: none;
}

/* *********************** HEADER ************************ */

.primary-link {
    border: 1px solid var(--blue);
    padding: 8px 12px;
    color: var(--blue);
    border-radius: 8px;
}
nav {
    padding-left: 25px;
}

nav a {
    display: inline-block;
    padding: 10px 15px;
    color: #343434;
}

.logout-link{
    display: none;
}

nav > a:hover {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

nav {
    margin-bottom: 42px;
}

.active-link {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}
.menu-icon {
    display: none;
}
.logout-btn {
    display: none;
}
/* *********************** FOOTER ************************ */
.footer {
    background-color: #343434;
    /* position: fixed; */
    bottom: 0;
    color: white;
    width: 100%;
}
.footer div {
    padding: 20px;
    width: 300px;
    margin-left: auto;
}

/* ********************************MEDIA QUERIES************************************* */
@media (max-width: 550px) {
    .navbar-section {
        display: none;
    }
    .menu-icon {
        display: block;
        margin-right: 10px;
    }
    .logout-link {
        display: none;
    }
    .logout-btn {
        display: block;
    }
    .welcome-msg {
        display: none;
    }
    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px !important;

        height: 100vh;
        width: 50vw;
        position: absolute;
    }
}
