.main-content-container {
    border: 1px solid rgb(165, 165, 165);
}

.status-select {
    padding-top: 0 !important;
}

.role-select {
    padding-top: 0 !important;
}


.form-floating>.form-select {
    padding-top: 5px !important;
}

.row {
    border: 1px solid navy;
}

.col-4 {
    border: 1px solid red;
}

.col-8 {
    border: 1px solid green;
}

.primary-fill-1 {
    border: none;
    background-color: rgb(34, 140, 32);
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
}

.btns{
    margin: 15px;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

tr {
    border-bottom: 1px solid rgb(199, 191, 191) !important;
}

input[type="checkbox"] {
    border: 1px solid rgb(126, 122, 122);
    width: 17px;
    height: 17px;
    border-radius: 0px;
}


/* File Input Styling */
.custom-file-input {
    width: 100%;
    height: 40px;
    position: relative;
}

.upload-label {
    /* position: relative; */
    cursor: pointer;
    width: 100%;
    border: 1px solid grey;
    height: 40px;
    border-radius: 5px;
}

.upload-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 20px !important;
}
.responsive-btns {
    display: none;
}

.btns{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.mobile-icons{
    display: none;
}
.upload{
    cursor: pointer;
}

.view-docs-eye{
    display: none;
}


@media (max-width: 550px) {
    .upload-txt {
        display: none;
    }

}

@media (max-width: 360px) {
    .heading {
        font-size: 18px;
    }

    .primary-empty {
        padding: 4px 6px;
    }
}

@media(max-width:768px) {
    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    .mobile-icons{
        display: block;
    }

    table {
        border-collapse: collapse;
    }

    .responsive-btns {
        display: block;
    }
      .upload-txt {
        display: none;
    }
    .bi{
        display: block;
    }
    .view-text{
        display: none;
    }

 
}


#providerAccSaveBtn,#providerAccCancelBtn{
    display: none;
}

#providerInfoSaveBtn,#providerInfoCancelBtn{
    display: none;
}


#providerMailSaveBtn,#providerMailCancelBtn{
    display: none;
}

#providerProfileCancelBtn ,#providerProfileSaveBtn{
    display: none;
}

