<h1>Text changed without reloading the page, with the help of AJAX, Asynchronous loading of data</h1>


<!-- 
- The XMLHttpRequest object is used to exchange data with a server.
- To send a request to a server, we use the open() and send() methods of the XMLHttpRequest Object:
-> open(method, url, async) - specifies the type of request
    method : the type of request : GET or POST
    url : the server(file) location
    async : true(asynchronous) or false (synchronous)
-> send() - sends the request to the server (used for GET)

AJAX - Server Response
- The readyState property holds the status of the XMLHttpRequest.
- onreadystatechange property defines a function to be executed when the readyState changes.
- The status property and the statusText property holds the status of the XMLHttpRequest object.
 -->