.custom-file-input {
    position: relative;
    width: 100%;
    height: 40px;
}

.upload-label {
    cursor: pointer;
    width: 100%;
    border: 1px solid grey;
    padding: 6px;
    height: 40px;
    border-radius: 5px;
}

.upload-btn {
    position: absolute;
    right: 0;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.create-signature-btn {
    border: none;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: var(--blue);
    padding: 0 15px;
    color: #fff;
    border-radius: 5px;
}

.patient-name {
    color: var(--blue);
    font-size: 24px;
    font-weight: bold;
}

.confirmation-number {
    font-size: 18px;
    color: grey;
}
.doc-symbol {
    color: var(--blue);
    font-size: 25px;
}

.action-column {
    width: 100px;
    text-align: center;
}
.small-screen-btn {
    display: none;
}
.mobile-listing {
    display: none;
}

.phone-number-container {
    height: 100%;
}

.conclude-care-docs td {
    padding: 15px;
}
.download-column {
    width: 50px !important;
    padding: 15px !important;
}
.date-column {
    width: 300px !important;
}

@media (max-width: 550px) {
    .large-screen-btn {
        display: none;
    }
    .small-screen-btn {
        display: block;
    }
    .upload-txt {
        display: none;
    }
    #uploadDocValidationBtn {
        padding: 8px 4px !important;
    }
    #uploadDocValidationBtn i {
        margin: 10px;
    }
    .patient-name {
        font-size: 18px;
    }
    .confirmation-number {
        display: inline-block;
        font-size: 15px;
        margin-bottom: 8px;
    }
    p {
        font-size: 12px;
    }
    .table-responsive {
        display: none;
    }
    .conclude-care-docs {
        display: block !important;
    }
    .mobile-listing {
        display: block;
    }
    .list div {
        margin: 12px;
    }
    .mobile-listing {
        border-top: 1px solid grey;
    }
    .list {
        border-bottom: 1px solid rgba(128, 128, 128, 0.639);
    }
    .form-check-input {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 360px) {
    .heading {
        font-size: 18px;
    }
    .primary-empty {
        padding: 4px 6px;
    }
}
