.main-section {
    display: flex;
    justify-content: center;
}

.main-container1 {
    min-width: 60%;
    display: flex;
    flex-direction: column;
}

.main-container2 {
    min-width: 60%;
    display: flex;
    flex-direction: column;
}


.main-content {
    display: flex;
    align-items: center;
    color: #3c9eff;
}

.details {
    margin-left: 3%;
}


.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    position: relative;
}

.person-logo {
    right: 20px;
    top: 8px;
    position: absolute;
    cursor: pointer;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 100%;
    background-color: #3c9eff;
    color: white;
    border-color: #3c9eff;
}


.back-login {
    margin-top: 15px;
}

.confirm-password {
    position: relative;
}

.person-eye-two {
    right: 20px;
    top: 8px;
    position: absolute;
    cursor: pointer;
}