.main-heading {
    color: var(--blue);
    text-align: center;
}

/* Text area height */
.note {
    height: 100px !important;
}

/* Make the text not to overflow */
.blood-pressure input {
    overflow: hidden;
}

.finalize-btn {
    border: 1px solid #6d128f;
    background-color: #6d128f;
    padding: 8px 12px;
    color: #fff;
    border-radius: 8px;
}

.blood-pressure {
    margin: 0;
}

.button-section {
    margin: 25px 0;
    text-align: right;
}

@media (max-width: 768px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
    .grid-3 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 360px) {
    .heading {
        font-size: 18px;
    }
    .primary-empty {
        padding: 4px 6px;
    }
}

@media print {
    .header {
        display: none !important;
    }

    .navbar-section {
        display: none !important;
    }

    .heading-container {
        display: none !important;
    }

    footer {
        display: none !important;
    }

    .button-section {
        display: none !important;
    }
}
