/* *********************** PROVIDER DASHBOARD ************************ */
/* Active Listing Encounter Pop-Up */

/* When house call is selected these dropdown select menu will be shown */
.time-dropdown {
    display: none;
}
.housecall-btn:hover,
.consult-btn:hover {
    background-color: var(--blue);
    color: #fff;
}

.btn-active {
    background-color: var(--blue);
    color: #fff;
}

/* Pending Listing send agreement */
.send-agreement {
    display: none;
}

/******************************* All Pop-ups Styling**************************************/
/******************************* Encounter - Active listing Page **************************************/
.encounter {
    display: none;
    width: 500px;
}

/******************************* Transfer Request Provider - Pending listing Page **************************************/
.transfer-request {
    display: none;
    width: 500px;
}

.transfer-request .form-floating {
    width: 100%;
}
.transfer-description {
    height: 150px !important;
}
/******************************* Send Link PopUp - All listing Pages **************************************/
.send-link {
    display: none;
    width: 500px;
}

.send-link .form-floating {
    width: 100%;
    margin: 15px 0;
}

/******************************* Encounter Form Finalized PopUp - conclude listing Pages **************************************/
.encounter-finalized {
    display: none;
    width: 500px;
}
.encounter-finalized-container {
    padding: 15px;
}
.download-btn {
    margin: 15px auto;
}

/******************************* Request To Admin PopUp - providerProfile **************************************/
.request-to-admin {
    display: none;
    width: 500px;
    z-index: 20;
}

.request-to-admin .form-floating {
    width: 100%;
}
.request-message {
    height: 150px !important;
}
