/* *********************** PROVIDER DASHBOARD ************************ */
.case {
    width: 250px;
    height: 70px;
    border-radius: 10px;
    color: #fff;
}

.case-new {
    border: 1px solid rgb(7, 7, 96);
    color: rgba(67, 67, 174);
    background-color: rgba(106, 106, 218, 0.501);
}

.case-pending {
    border: 1px solid rgb(6, 32, 97);
    color: rgb(13, 49, 139);
    background-color: rgba(50, 99, 222, 0.508);
}

.case-active {
    border: 1px solid rgb(7, 102, 7);
    color: rgb(12, 119, 12);
    background-color: rgba(153, 235, 153, 0.507);
}

.case-conclude {
    border: 1px solid rgb(83, 7, 79);
    color: rgb(124, 7, 129);
    background-color: rgba(212, 128, 221, 0.509);
}

.primary-btn {
    border: none;
    background-color: var(--blue);
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    padding: 0;
    margin: 8px 16px;
    border: none;
}

.input-group {
    width: 300px;
    margin: 15px;
}

.src-category > button {
    border: none;
    background-color: #fff;
    padding: 5px 15px;
}

.btn-all {
    border: 1px solid grey !important;
    border-radius: 5px;
}

.case-type {
    color: rgb(87, 87, 185);
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

#table-header {
    background-color: blue !important;
}

.main {
    margin: 20px 50px;
}

.heading-section {
    margin-bottom: 36px;
}

.listing {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.table {
    margin: 0;
}

/* *********************** TABLE DATA ************************************ */
.table-btn {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 4px 12px;
    border-radius: 5px;
}

tr > td {
    padding: 16px !important;
    color: #fff !important;
    background-color: green !important;
}
/* ********************** MEDIA QUERIES *********************** */
@media (max-width: 1160px) {
    .search-section {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }

    .input-group {
        width: 100% !important;
        flex-wrap: nowrap;
    }

    .case {
        width: 200px;
    }
}

@media (max-width: 960px) {
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .case {
        width: 100%;
    }
}

@media (max-width: 750px) {
    /* .src-category {
        flex-wrap: wrap;
        width: 100%;
    } */
    .btn-all {
        display: none;
    }

    .src-category {
        display: flex;
        gap: 0 !important;
        justify-content: start !important;
    }

    .src-category > button {
        flex-direction: column;
        align-items: center;
    }

    .txt {
        display: none;
    }

    .main {
        margin: 0;
    }
    .listing {
        padding: 10px;
    }
}

@media (max-width: 550px) {
    .case {
        align-items: center !important;
        justify-content: center !important;
        padding: 0 !important;
        border-radius: 0;
    }

    .src-category > button {
        font-size: 12px;
        padding: 5px;
    }

    .primary-btn {
        padding: 4px 10px;
    }
    nav {
        padding: 0;
        margin: 0;
    }
    .heading-section {
        margin-bottom: 18px;
    }
}
