.note {
    height: 150px !important;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.section {
    /* border: 1px solid grey; */
    border-radius: 8px;
    padding: 18px;
    margin-bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
@media (max-width: 360px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
    .heading {
        font-size: 18px;
    }
    .primary-empty {
        padding: 4px 6px;
    }
}
