
/********************* Header CSS Start***********************/

.header-container{
    /* border: 3px solid black; */
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
   
}

.moon{
    margin-bottom: 4%;
}

.logo-img{
    margin-left: 40%;
    /* border: 1px solid red; */
}

.logo{
    height: 100%;
    width: 100%;
}


@media(max-width:1590px){
    .logo-img{
        margin-left: 38%;
    }
}


@media(max-width:1100px){
    .logo-img{
        margin-left: 38%;
    }
}

@media(max-width:776px){
    .logo-img{
        margin-left: 34%;
    }
}

@media(max-width:678px){
    .logo-img{
        margin-left: 30%;
    }
}

@media(max-width:635px){
    .logo-img{
        margin-left: 26%;
    }
}

@media(max-width:590px){
    .logo-img{
        margin-left:20%;
    }
}

@media(max-width:500px){
    .logo-img{
        margin-left: 18%;
    }
}

@media(max-width:440px){
    .logo-img{
        margin-left: 8%;
    }
}

@media(max-width:400px){
    .logo-img{
        display: none;
    }

    .moon{
        margin-left: 90%;
        margin-bottom: 4%;
    }
}

@media(max-width:392px){
    .logo-img{
        width: 80%;
        height: 80%;
        margin-left: 6%;
    }
}
@media(max-width:330px){
    .logo-img{
        width: 70%;
        height: 70%;
        margin-left: 6%;
    }
}
/********************* Header CSS End***********************/



/********************* Main Content CSS Start***********************/

.container-fluid{
        /* border: 1px solid saddlebrown; */
}

.main-section{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
}

.main-container{
      /* border: 1px solid forestgreen; */
      /* max-width: 40%; */
      /* width: 50%; */
      min-width: 40%;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
}


.main-content{
    display: flex;
    align-items: center;
    color: #3c9eff;
}

.details{
    margin-left: 3%;
}


.form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid fuchsia; */

}

.email,
.password{
    position: relative;
}

.person-logo,
.person-eye{
    right: 20px;
    top: 8px;
   position: absolute;
   cursor: pointer;
}

.buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 100%;
    background-color:#3c9eff ;
    color: white;
    border-color: #3c9eff;
}


.forgot-pass{
    margin-top: 15px;
}



@media (max-width: 1000px){
    h1{
        font-size: 1.8rem;
    }
}

@media (max-width: 786px){
    h1{
        font-size: 1.5rem;
    }
    .main-container{
        width: auto !important;
    }
}

@media (max-width: 660px){
    h1{
        font-size: 1.3rem;
    }
}

@media (max-width: 577px){
    h1{
        font-size: 1.2rem;
    }
}

@media (max-width: 330px){
    h1{
        font-size: 1.1rem;
    }
}
/********************* Main Content CSS End***********************/


/********************* Footer CSS Start***********************/

.footer-section{
    position: fixed;
    bottom: 0;
    margin-left: 42%;
}

@media(max-width:1590px){
    .footer-section{
        margin-left: 38%;
    }
}


@media(max-width:1100px){
    .footer-section{
        margin-left: 38%;
    }
}

@media(max-width:776px){
    .footer-section{
        margin-left: 34%;
    }
}

@media(max-width:678px){
    .footer-section{
        margin-left: 30%;
    }
}

@media(max-width:635px){
    .footer-section{
        margin-left: 29%;
    }
}

@media(max-width:590px){
    .footer-section{
        margin-left:28%;
    }
}

@media(max-width:500px){
    .footer-section{
        margin-left: 26%;
    }
}

@media(max-width:440px){
    .footer-section{
        margin-left: 24%;
    }
}

@media(max-width:392px){
    .footer-section{
        margin-left: 21%;
    }
}
@media(max-width:330px){
    .footer-section{
        margin-left: 19%;
    }
}
/********************* Footer CSS End***********************/


