/******************************** Header CSS Start ************************************** */

.logout-link {
    display: block;
}

@media (max-width: 550px) {
    .logout-link {
        display: none;
    }
}

/******************************** Header CSS End ************************************** */

/******************************** Main Content CSS Start ************************************** */


.main-content {
    margin-top: 20px;
}

.head-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn:hover {
    background-color: #3c9eff;
    color: white;
}

.user-name {
    color: #3c9eff;
    font-weight: bold;
}

.confirmation-no {
    color: black;
    font-weight: initial;
}

.docs-download {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table {
    margin-top: 20px;
}

.cloud-down {
    display: inline-block;
}

.cloud-down:hover {
    color: white;
    background-color: #3c9eff;
}

@media (min-width: 550px) {
    .btn-down {
        display: none;
    }
}

@media (max-width: 550px) {
    .down-button {
        display: none;
    }

    .upload-text {
        display: none;
    }

    .table-content {
        margin-top: 20px;
    }

    .check-docs {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .table {
        display: none;
    }
}

@media (min-width: 550px) {
    .table-content {
        display: none;
    }
}

/********************************  Main Content CSS End ************************************** */




/* File Input Styling */
.custom-file-input {
    width: 100%;
    height: 40px;
    position: relative;
}

.upload-label {
    /* position: relative; */
    cursor: pointer;
    width: 100%;
    border: 1px solid grey;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
}

.upload-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 20px !important;
}



@media (max-width: 550px) {
    .upload-txt {
        display: none;
    }
}

@media (max-width: 360px) {
    .heading {
        font-size: 18px;
    }

    .primary-empty {
        padding: 4px 6px;
    }
}




