/******************************** Header CSS Start ************************************** */

.logout-link {
    display: block;
}


/******************************** Header CSS End ************************************** */



/******************************** Main Content CSS End ************************************** */




/******************************** Footer CSS Start ************************************** */

.footer {
    bottom: 0;
    position: fixed;
}

/********************************  Footer CSS End ************************************** */