/********************* Header CSS Start***********************/



.logout-link {
    display: block;
}



/********************* Header CSS End***********************/
/* File Input Styling */
.custom-file-input {
    width: 100%;
    height: 40px;
}

.upload-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 20px !important;
}

.upload-label {
    position: relative;
    cursor: pointer;
    width: 100%;
    border: 1px solid grey;
    height: 40px;
    border-radius: 5px;
}

/********************************** main content CSS start *********************************/
.patient-container {
    border: 1px solid rgb(207, 205, 205);
    padding: 25px;
    margin-top: 10px;
    border-radius: 10px;
}

.header_part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.patient-details {
    /* border: 1px solid red; */
}

.area-text,
.patient-details-row1,
.patient-details-row2,
.patient-contact-text,
.patient-contact-row1,
.patient-location-text,
.patient-location-row1,
.patient-location-row2,
.patient-location-row3,
.patient-doc-text,
.patient-relation-text {
    margin-top: 20px;
}

#telephone {
    height: 100%;
    width: 100%;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#button-addon2 {
    background-color: rgb(32, 181, 250);
    color: white;
}

.btn-upload {
    background-color: rgb(32, 181, 250);
    z-index: -2 !important;
}

.select-file-text {
    z-index: -2 !important;
}

.input-file {
    background: none;
}

.patient-location-room-text {
    width: 100%;
}

.file-selection-container {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #c7d3e0;
    border-radius: 5px;
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 0px;
}

.file-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
}

.file-button:hover {
    background-color: #0056b3;
}

@media (max-width: 550px) {
    .menu-icon {
        display: none;
    }

    .container {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {

    .patient-details-col2,
    .mobile-text,
    .patient-location-city-text,
    .patient-location-zipcode-text {
        margin-top: 20px;
    }

    .patient-location-col4 {
        margin-top: 20px;
    }

    #maps {
        width: 100%;
    }

    .patient-location-room-text,
    .date-of-birth {
        width: 100% !important;
    }
}


@media (max-width: 450px) {
    .symptoms-notes-label{
        font-size: small;
    }
}


@media (max-width: 375px) {
    .symptoms-notes-label{
        font-size: x-small;
    }
}

@media (max-width: 320px) {
    .symptoms-notes-label{
        font-size: xx-small;
    }
}
