/********************* Header CSS Start***********************/
.logout-btn {
    display: none;
}

.welcome-msg {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
}
/********************* Header CSS End***********************/

/********************* Main Content CSS Start***********************/
.header_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px dashed slateblue; */
    position: relative;
    width: 100%;
}

.heading {
    margin-left: 42%;
}

.container {
    height: 400px;
}

.main-container {
    height: 300px;
}

.case {
    width: 280px;
    height: 50px;
    padding-left: 15px;

    border-radius: 10px;
}

.submitType {
    font-size: 1.5rem;
}

.patient {
    background-color: rgb(222, 225, 253);
    color: rgb(76, 76, 255);
    border: 1px solid rgb(76, 76, 255);
}

.patient:hover {
    background-color: rgb(76, 76, 255);
    color: rgb(222, 225, 253);
}

.family {
    background-color: rgb(227, 255, 255);
    color: rgb(0, 174, 255);
    border: 1px solid rgb(0, 174, 255);
}
.family:hover {
    color: rgb(227, 255, 255);
    background-color: rgb(0, 174, 255);
}

.conceirge {
    background-color: rgb(217, 248, 217);
    color: green;
    border: 1px solid green;
}
.conceirge:hover {
    color: rgb(217, 248, 217);
    background-color: green;
}

.business {
    background-color: rgb(247, 216, 253);
    color: rgb(223, 37, 207);
    border: 1px solid rgb(223, 37, 207);
}
.business:hover {
    color: rgb(247, 216, 253);
    background-color: rgb(223, 37, 207);
}

@media (max-width: 550px) {
    .menu-icon {
        display: none;
    }
    .container {
        margin-top: 30px;
    }
}

@media (max-width: 1399px) {
    .heading {
        margin-left: 40%;
    }
}
@media (max-width: 1199px) {
    .heading {
        margin-left: 38%;
    }
}

@media (max-width: 769px) {
    .heading {
        margin-left: 34%;
    }
}
